*{
    box-sizing: border-box;
    margin: 0;
}

:root {
    --grey-color: grey;
}

.main-header {
    background: var(--grey-color);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0rem 0rem;
    padding: 0.5rem 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    size: 10rem;
}

.main-nav {
    text-decoration: none;
}

.main-nav__items {
    list-style: none;
    display: flex;
    /* flex-direction: row; */
    margin: 0;
    padding: 0;
    list-style: none;

    
    
    
}

.main-nav__item {
    margin: 0.5rem 1rem;

}

.main-nav__item a, 
.mobile-nav__item a {
    text-decoration: none;
    /* color: var(--dark-green); */
    font-weight: bold;
    padding: 0.2rem 0;
    /* text-align: right; */
    position: relative;
    left: 68rem;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

main {
    padding-top: 2rem;
}

.signup-title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
    position: relative;
    top: 2rem;
}

.signup-form {
    padding: 1rem;
    display: grid;
    grid-auto-rows: 2rem;
    grid-row-gap: 0.5rem;
}

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    width: 100%;
}


.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.signup-form input:not([type="checkbox"]), 
.signup-form select {
    border: 1px solid #ccc;
    padding: 00.2rem 0.5rem;
    font: inherit;
}

.signup-form input[type="checkbox"] {
    border: 1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.signup-form input[type="checkbox"]:checked {
    background: #2ddf5c;
    border: #0e4f1f;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
    border-color:  red !important;
    background: #faacac;
}

.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    background: #d8f3df;
    border: #2ddf5c;
}

.signup-form button[type="submit"] {
    display: block;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "AnonymousPro";
    height: 100%;
    font-weight: 700;
}